<div [formGroup]="newProperty">
    <label for="types" class="block mb-2 text-sm font-medium text-gray-900">
        type
    </label>
    <select [formControlName]="'type'" id="types"
        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500">
        <option selected>
            Choose a type
        </option>
        <ng-container *ngIf="isLoading; else typesList">
            <option disabled>
                <app-spinner [props]="{width:'18px',height:'18px'}"></app-spinner>
            </option>
        </ng-container>
        <ng-template #typesList>
            <option *ngFor="let type of types" [value]="type._id">
                {{type.type}}
            </option>
        </ng-template>
    </select>
</div>