<div *ngIf="modalDeleteType" class="w-full">
    <div
        class="flex overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full">
        <div class="relative px-4 w-full max-w-xl h-full md:h-auto">
            <div class="relative bg-white rounded-2xl shadow-lg">
                <div class="flex justify-between items-start p-5 rounded-t border-b">
                    <h3 class="text-xl font-medium">Delete Type</h3>
                    <button (click)="togglemodalDeleteType()" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-2xl text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-toggle="add-product-modal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fillRule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clipRule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div class="px-6 py-2 space-y-2 font-medium">
                    Are you sure you want to delete this type of property
                </div>
                <div class="p-6 rounded-b border-t border-gray-200">
                    <button
                        class="bg-blue-600 cursor-pointer text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button" (click)="deleteType(typeSelected)">
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>