<div class="w-full" *ngIf="modalUpdateProperty">
    <div
        class="flex overflow-y-auto overflow-x-hidden fixed right-0 left-0 top-4 z-50 justify-center items-center md:inset-0 h-modal sm:h-full">
        <div class="relative px-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative bg-white rounded-2xl shadow-lg">
                <div class="flex justify-between items-start p-5 rounded-t border-b">
                    <h3 class="text-xl font-medium">Update Property</h3>
                    <button (click)="togglemodalUpdateProperty()" type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-2xl text-sm p-1.5 ml-auto inline-flex items-center"
                        data-modal-toggle="add-product-modal">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fillRule="evenodd"
                                d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                clipRule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <form class="px-6 py-2 space-y-2" [formGroup]="updatedProperty">
                    <h3 class="text-[18px] font-medium text-center">Characteristic</h3>
                    <div class="grid grid-cols-6 gap-6">
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                title
                            </label>
                            <input formControlName="title" type="text"
                                placeholder="title"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                adress
                            </label>
                            <input formControlName="adress" type="text" placeholder="adress"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label htmlFor="companies" class="block mb-2 text-sm font-medium text-gray-900">
                                city
                            </label>
                            <select formControlName="city" id="companies"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                <option selected disabled>
                                    Choose a city
                                </option>
                                <option>
                                    feklz
                                </option>
                            </select>
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                bedrooms
                            </label>
                            <input type="number" placeholder="bedrooms" formControlName="bedrooms"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                stages
                            </label>
                            <input formControlName="stage" type="number" placeholder="stages"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                price
                            </label>
                            <input formControlName="price" type="number" placeholder="price"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label class="block mb-2 text-sm font-medium text-gray-900">
                                size
                            </label>
                            <input formControlName="size" type="number" placeholder="size"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        </div>
                        <div *ngIf="step===0" class="col-span-6 sm:col-span-3">
                            <label for="message"
                                class="block mb-2 text-sm font-medium text-gray-900">Description</label>
                            <textarea formControlName="desc" id="message" rows="4"
                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                placeholder="Write your thoughts here..."></textarea>
                        </div>
                        <div *ngIf="step===1" class="col-span-6 sm:col-span-3">
                            <app-categories-select [newProperty]="updatedProperty"></app-categories-select>
                        </div>
                        <div *ngIf="step===1" class="col-span-6 sm:col-span-3">
                            <app-type-property-select [newProperty]="updatedProperty"></app-type-property-select>
                        </div>
                        <div *ngIf="step===1" class="col-span-6 sm:col-span-3">
                            <app-characteristic-select [newProperty]="updatedProperty"></app-characteristic-select>
                        </div>
                    </div>
                </form>
                <div class="p-6 rounded-b border-t border-gray-200">
                    <button *ngIf="step===0" (click)="next()"
                        class="bg-blue-600 cursor-pointer text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button">
                        next
                    </button>
                    <button *ngIf="step===1" (click)="previous()"
                        class="bg-blue-600 cursor-pointer text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button">
                        back
                    </button>
                    <button *ngIf="step===1" (click)="updateProperty(updatedProperty,propertySelected._id)"
                        class="bg-blue-600 cursor-pointer text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button">
                        update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="opacity-25 fixed inset-0 z-40 bg-black"></div>
</div>