<app-update-admin-informations [admin_information]="admin_information"  [ModalUpdateAdminInformation]="ModalUpdateAdminInformation"
    [toggleModalUpdateAdminInformation]="toggleModalUpdateAdminInformation"
    (onUpdatedAdminInformation)="getAdminInfo()"
    ></app-update-admin-informations>
<div class="flex flex-col min-w-0 break-words bg-gray-100 w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0">
    <div class="rounded-t bg-gray-100 mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
            <h6 class="text-blueGray-700 text-xl font-bold">My account</h6>
            <button (click)="toggleModalUpdateAdminInformation()"
                class="bg-red-600 text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                type="button">
                Update
            </button>
        </div>
    </div>
    <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <app-spinner *ngIf="isLoading" [props]="{width:'28px',height:'28px'}"></app-spinner>
        <form *ngIf="!isLoading">
            <h6 class="text-sm mt-3 mb-6 font-bold uppercase">
                Admin Information
            </h6>
            <div class="flex flex-wrap">
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-xs font-bold mb-2" htmlFor="grid-password">
                            Username
                        </label>
                        <input [disabled]="isDisabled"
                            class="border-0 px-3 py-3 placeholder-blueGray-300 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            [value]='admin_information.name' />
                    </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-xs font-bold mb-2" htmlFor="grid-password">
                            Email address
                        </label>
                        <input [disabled]="isDisabled"
                            class="border-0 px-3 py-3 placeholder-blueGray-300 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            [value]='admin_information.email' />
                    </div>
                </div>
            </div>

            <hr class="mt-6 border-b-1 border-blueGray-300" />

            <h6 class="text-sm mt-3 mb-6 font-bold uppercase">
                Contact Information
            </h6>
            <div class="flex flex-wrap">
                <div class="w-full lg:w-12/12 px-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-xs font-bold mb-2" htmlFor="grid-password">
                            Address
                        </label>
                        <input [disabled]="isDisabled"
                            class="border-0 px-3 py-3 placeholder-blueGray-300 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            [value]='admin_information.adress' />
                    </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-xs font-bold mb-2" htmlFor="grid-password">
                            City
                        </label>
                        <input [disabled]="isDisabled"
                            class="border-0 px-3 py-3 placeholder-blueGray-300 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            [value]='admin_information.city' />
                    </div>
                </div>
                <div class="w-full lg:w-6/12 px-4">
                    <div class="relative w-full mb-3">
                        <label class="block uppercase text-xs font-bold mb-2" htmlFor="grid-password">
                            Phone
                        </label>
                        <input [disabled]="isDisabled"
                            class="border-0 px-3 py-3 placeholder-blueGray-300 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                            [value]='admin_information.phone' />
                    </div>
                </div>
            </div>
            <div class="flex" *ngIf="!isDisabled">
                <div class="ml-auto">
                    <button
                        class="bg-blue-600 text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
                        type="button">
                        Save Changes
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>