<app-spinner *ngIf="isLoading" [props]="{width:'28px',height:'28px'}"></app-spinner>
<app-property-visibility [modalPropertyVisibility]="modalPropertyVisibility"
  [togglemodalPropertyVisibility]="togglemodalPropertyVisibility" [propertySelected]="propertySelected"
  (onChangedVisibility)="getAllProperties()"></app-property-visibility>
<app-delete-property [propertySelected]="propertySelected" [togglemodalDeleteProperty]="togglemodalDeleteProperty"
  (onDeleteProperty)="getAllProperties()" [modalDeleteProperty]="modalDeleteProperty"></app-delete-property>
<app-update-property [modalUpdateProperty]="modalUpdateProperty" [togglemodalUpdateProperty]="togglemodalUpdateProperty"
  [propertySelected]="propertySelected"
  (onUpdatedProperty)="getAllProperties()"
  ></app-update-property>
<app-property-details
[togglemodalPropertyDetails]="togglemodalPropertyDetails"
[propertySelected]="propertySelected"
[modalPropertyDetails]="modalPropertyDetails"
></app-property-details>
<div *ngIf="!isLoading" class="flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded bg-gray-50">
  <div class="rounded-t py-3 border-0 mb-5">
    <div class="flex flex-wrap items-center">
      <div class="relative w-full px-4 max-w-full flex-grow flex-1">
        <h3 class="text-lg font-medium">
          List of properties
        </h3>
      </div>
    </div>
  </div>
  <div class="block w-full overflow-x-auto">
    <!-- Projects table -->
    <table class="items-center w-full bg-transparent border-collapse">
      <thead>
        <tr>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Images
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            title
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Status
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            adress
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            price
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            desc
          </th>
          <th
            class="px-6 align-middle border border-solid py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
            Actions
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let property of properties">
          <th class="border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2 text-left flex items-center">
            <img src="assets/img/bootstrap.jpg" class="h-28 w-52 bg-white border" alt="..." />
          </th>
          <td class="border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            {{property.title}}
          </td>
          <td class="space-x-2 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            <div *ngIf="!property.status" class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-red-500 mr-2"></div> Offline
            </div>
            <div *ngIf="property.status" class="flex items-center">
              <div class="h-2.5 w-2.5 rounded-full bg-green-500 mr-2"></div> Live
            </div>
          </td>
          <td class="border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            {{property.adress}}
          </td>
          <td class="border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            {{property.price}}
          </td>
          <td class="border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            {{property.desc}}
          </td>
          <td class="space-x-2 border-t-0 px-6 border-l-0 border-r-0 text-xs whitespace-nowrap p-2">
            <i *ngIf="property.status" (click)="togglemodalPropertyVisibility();propertySelected=property"
              class="fa-solid fa-eye text-[14px] cursor-pointer"></i>
            <i *ngIf="!property.status" (click)="togglemodalPropertyVisibility();propertySelected=property"
              class="fa-solid fa-eye-slash text-[14px] cursor-pointer"></i>
            <i (click)="propertySelected=property;togglemodalUpdateProperty();"
              class="fa-solid fa-pen text-[14px] cursor-pointer"></i>
            <i (click)="togglemodalDeleteProperty();propertySelected=property._id"
              class="fa-solid fa-trash text-[14px] cursor-pointer text-red-500"></i>
            <i (click)="togglemodalPropertyDetails();propertySelected=property" class="fa-solid fa-angles-right text-[14px] cursor-pointer"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>