<!-- Navbar -->
<nav class="md:ml-64 bg-gray-100 md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
  <div class="w-full mx-auto items-center flex justify-between md:flex-nowrap flex-wrap md:px-6 px-4">
    <!-- Brand -->
    <h2 class="text-sm hidden lg:inline-block font-medium">{{currentRoute ? currentRoute:'/admin/dashboard/'}}</h2>
    <!-- User -->
    <ul class="flex-col md:flex-row list-none items-center hidden md:flex">
      <a class="text-blue-500 block">
        <div class="items-center flex">
          <span
            class="w-10 h-10 text-sm text-white cursor-pointer bg-blueGray-200 inline-flex items-center justify-center rounded-full">
            <img alt="..." class="w-full rounded-full align-middle border-none shadow-lg"
              src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8dXNlcnxlbnwwfHwwfHw%3D&w=1000&q=80" />
          </span>
        </div>
      </a>
    </ul>
  </div>
</nav>