<div class="flex -items-center space-x-2">
    <div class="col-span-6 sm:col-span-3">
        <input type="text" placeholder="city"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="col-span-6 sm:col-span-3">
        <input type="number" placeholder="stages"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <div class="col-span-6 sm:col-span-3">
        <input type="number" placeholder="price"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded focus:ring-blue-500 focus:border-blue-500 block w-full p-2 dark:border-gray-600 dark:focus:ring-blue-500 dark:focus:border-blue-500" />
    </div>
    <button
        class="bg-red-500 cursor-pointer text-white active:bg-red-700 font-medium uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
        type="button">
        search
    </button>
</div>